<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm mb-4">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold text-white" href="/">🤖 SmartPhoneAdvisor</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <NavLink class="nav-link text-white" href="./" Match="NavLinkMatch.All">🏠 Trang chủ</NavLink>
        </li>
        <li class="nav-item">
          <NavLink class="nav-link text-white" href="./survey">📝 Khảo sát</NavLink>
        </li>
        <li class="nav-item">
          <NavLink class="nav-link text-white" href="./result">📊 Kết quả</NavLink>
        </li>
        <li class="nav-item">
          <NavLink class="nav-link text-white" href="./about">📘 Giới thiệu</NavLink>
        </li>
      </ul>
    </div>
  </div>
</nav>